body{

}

/*MENU*/

#menu{
  background-image: url(f.png);
  text-align: center;
  padding: 10px;
}

#active a{
  color: white;
  background-color: #00C0D0;
}

#menu a{
  padding: 5px;
  text-decoration: none;
  color: white;
}

#menu a:hover{
  border: 1px solid white;
  background-color: white;
  color: black;
}

#menu img{
  height: 40px;
}

/*CORP*/

#corp{
  border-bottom: 3px solid blue;
  padding-left: 20px;
  padding-top: 20px;
  background-image: url(corp.jpg);
  background-size: cover;
}

#corp p{
  font-weight: bold;
  width: 50%;
}

#corp h2{
  color:white;
}

#corp h3{
  font-weight: bold;
  color: red;
}

.img{
  float: right;
}

/*CONTENU*/

#contenu{
  text-align: center;
  padding: 45px;
  background-color: #F5F5F5;
}

#contenu img{
  max-width: 80px;
  width: 50%;
}

#contenu h3{
  font-weight: bold;
  font-size: 12px;
}

#contenu p{
  font-weight: bold;
  text-align: center;
  color: grey;
}

.inter h3{
  font-weight: bold;
  font-size: 16px;
}

.inter{
  font-size: 13px;
  text-align: center;
  background-color: #F5F5F5;
}

.inter img{
  width: 07%;
}

.bouton{
  float: right;
}

.bouton img{
  margin-right: 45px;
  margin-top: 20px;
  width: 90px;
}

.image h3{
  margin-left: 45px;
  float: left;
}

#photo div{
  text-align: center;
}

.bar{
  width: auto;
  text-align: center;
  background-color: #F5F5F5;
}

.col-xs-12.col-lg-3{
  text-align: center;
}

.col-xs-12.col-lg-3 img{
  width: 100%;
}

.col-xs-4.col-lg-4{
  background-color: #F5F5F5;
  margin-top: 120px;
  padding-top: 35px;
  border: 0.5px solid grey;
  text-align: center;
  margin-bottom: 50px;
}

.col-xs-4.col-lg-4 img{
  width: 50%;
  margin-top: -125px;
}

.titre h3{
  text-align: center;
}

#fin{
  border-radius: 15px;
  padding: 7px;
  color: white;
  background-color: #000005;
}

.col-xs-3.col-lg-3{
  text-align: center;
}

#lien{
  border-radius: 15px;
  margin-bottom: 0px;
  padding: -10px;
  text-align: center;
  background-color: #696969;
}

#lien img:hover{
border: 3px solid red;
box-shadow: 0 0 25px blue;
}
